<form [formGroup]="resetForm" (ngSubmit)="resetForm.valid && resetPassword()" class="d-flex" autocomplete="off">
    <div class="background"></div>
        <section class="section1">
            <div class="content">
                <h1>Reset Password</h1>
                <div class="input">
                    <input 
                    formControlName="password"
                    [class.is-invalid]="resetForm.get('password')?.errors && resetForm.get('password')?.touched"
                    class="form-control input1"
                    [type]="changeType? 'password' : 'text'"
                    placeholder="new password">
                    <div class="invalid-feedback" *ngIf="resetForm.get('password')?.hasError('required')">
                        Please enter a password
                    </div>
                    <div class="invalid-feedback" *ngIf="resetForm.get('password')?.hasError('minlength')">
                        Password must be at least 6 characters
                    </div>
                    <div class="invalid-feedback" *ngIf="resetForm.get('password')?.hasError('maxlength')">
                        Password must be at most 16 characters
                    </div>
                    <span class="eyeicon" (click)="viewPassword()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
                </div>
                <div class="input">
                    <input 
                    formControlName="confirmPassword"
                    [class.is-invalid]="resetForm.get('confirmPassword')?.errors && resetForm.get('confirmPassword')?.touched"
                    class="form-control input1"
                    [type]="changeType? 'password' : 'text'"
                    placeholder="confirm password">
                    <div class="invalid-feedback" *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
                        Please enter a confirmation password
                    </div>
                    <div class="invalid-feedback" *ngIf="resetForm.get('confirmPassword')?.hasError('notMatching')">
                        Passwords don't match
                    </div>
                </div>
                <div class="button" *ngIf="!loginIsVisible">
                    <button [disabled]="!resetForm.valid" class="btn btn-primary">Reset</button>
                </div>
                <div class="button" *ngIf="loginIsVisible">
                    <button routerLink="login" class="btn btn-primary">Login</button>
                </div>
            </div>
        </section>
</form>