<div class="background"></div>
<form *ngIf="!loginIsVisible" [formGroup]="resetForm" (ngSubmit)="resetForm.valid && resetPassword()" class="d-flex" autocomplete="off">
        <section class="section1">
            <div class="content">
                <h1>Reset Password</h1>
                <div class="input">
                    <input 
                    formControlName="resetToken"
                    [class.is-invalid]="resetForm.get('resetToken')?.errors && resetForm.get('resetToken')?.touched"
                    class="form-control input1"
                    placeholder="Reset Token">
                    <div class="invalid-feedback" *ngIf="resetForm.get('resetToken')?.hasError('required')">
                        Please enter the token
                    </div>
                </div>
                <div class="input">
                    <input 
                    formControlName="password"
                    [class.is-invalid]="resetForm.get('password')?.errors && resetForm.get('password')?.touched"
                    class="form-control input1"
                    [type]="changeType? 'password' : 'text'"
                    placeholder="new password">
                    <div class="invalid-feedback" *ngIf="resetForm.get('password')?.hasError('required')">
                        Please enter a password
                    </div>
                    <div class="invalid-feedback" *ngIf="resetForm.get('password')?.hasError('minlength')">
                        Password must be at least 6 characters
                    </div>
                    <div class="invalid-feedback" *ngIf="resetForm.get('password')?.hasError('maxlength')">
                        Password must be at most 16 characters
                    </div>
                    <span class="eyeicon" (click)="viewPassword()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
                </div>
                <div class="input">
                    <input 
                    formControlName="confirmPassword"
                    [class.is-invalid]="resetForm.get('confirmPassword')?.errors && resetForm.get('confirmPassword')?.touched"
                    class="form-control input1"
                    [type]="changeType? 'password' : 'text'"
                    placeholder="confirm password">
                    <div class="invalid-feedback" *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
                        Please enter a confirmation password
                    </div>
                    <div class="invalid-feedback" *ngIf="resetForm.get('confirmPassword')?.hasError('notMatching')">
                        Passwords don't match
                    </div>
                </div>
                <div class="button">
                    <button [disabled]="!resetForm.valid" type="submit" class="btn btn-primary">Reset</button>
                </div>
            </div>
        </section>
</form>

<section class="section1" *ngIf="loginIsVisible">
    <div class="content d-flex justify-content-center mb-5">
        <h1>You can continue to login</h1>
        <div class="button">
            <button routerLink="" class="btn btn-primary">Login</button>
        </div>
    </div>
</section>