<div class="background"></div>
<div class="section1">
    <div class="content" >
        <h1>Enter your email</h1>
        <div class="input">
            <input 
            name="email"
            [(ngModel)]="model.email"
            class="form-control input1"
            type="text"
            placeholder="Email">
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="button">
            <button class="btn btn-primary" (click)="sendEmail()">Send</button>
        </div>
    </div>
    <div class="content reset-div" *ngIf="isContinueVisible">
        <h1>The token has been sent, check your email please</h1>
        <div class="button">
            <button class="btn btn-primary" routerLink="reset">Continue</button>
        </div>
    </div>
</div>