<div *ngIf="accountService.currentUser$ | async">
    <button class="btn btn-danger text-start">Your dream</button>
    <div class="section">
        <div class="row row-cols-5">
            <div class="col">
                <div (click)="addNote()" class="card mb-4">
                  <i class="text-center add-icon fa-solid fa-circle-plus fa-8x"></i>
                </div>     
            </div>
            <div class="col" *ngFor="let note of notes">
                <app-note-card (onNoteDelete)="onNoteDeletedUpdated()" (openPopup)="editPopupToggle($event[0], $event[1], $event[2])" [note]="note"></app-note-card>
            </div>
        </div>
    </div>
</div>



<div *ngIf="!(accountService.currentUser$ | async)">
    <div *ngIf="!loginMode">
        <app-register (enableLogin)="loginModeToggle($event)"></app-register>
    </div>
    <div *ngIf="loginMode">
        <app-login (cancelLogin)="loginModeToggle($event)"></app-login>
    </div>
</div>
