<nav class="navbar navbar-expand-md navbar-dark fixed-top p-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Carousel</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async as currentUser">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item" *ngIf="currentUser.role != 'student'">
            <a class="nav-link" routerLink="/manage-users" routerLinkActive="active">Manage Users</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>Welcome User</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <button class="btn btn-primary" routerLink="login" *ngIf="!(accountService.currentUser$ | async)">Login</button>
      </div>
  </nav>
